---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Card from '../../components/Card.astro';
const posts = await Astro.glob('./*.md');
---

<Layout metaTitle='Blog | Musically Equipped'>
  <Hero title='Blog' />

  <section>
    <div
      class='container mx-auto my-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-between'
    >
      {
        posts.map((post) => (
          <Card
            title={post.frontmatter.title}
            image={post.frontmatter.thumbnail}
            url={post.url}
            description={post.frontmatter.description}
          />
        ))
      }
    </div>
  </section>
</Layout>
