---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';
const posts = await Astro.glob('../pages/post/*.md')
---

<Layout metaTitle='Blog | Musically Equipped'>
  <Hero title='Blog' />

  <section>
    <div class='container flex flex-col md:flex-row mx-auto my-10 space-x-5'>
      {
        posts.map((post) => (
          <Card
            title={post.frontmatter.title}
            image={
              post.frontmatter.thumbnail
            }
            url={post.url}
            description={post.frontmatter.description}
          />
        ))
      }
    </div>
  </section>
</Layout>
