---
<<<<<<< HEAD
import Layout from '../layouts/Layout.astro';
import gearImage from '../images/keyboards.jpg';
import Card from '../components/Card.astro';
import guitarImage from '../images/electricreview.jpg';
import Hero from '../components/Hero.astro';
=======
import Layout from "../layouts/Layout.astro";
import gearImage from "../images/keyboards.jpg";
import Card from "../components/Card.astro";
import guitarImage from "../images/electricreview.jpg";
import Hero from "../components/Hero.astro";
>>>>>>> ba595185e39ea854816b0d7ac59590ce55217aa4
---

<Layout title='Home | Musically-Equipped'>
  <Hero title='Musically-Equipped' />
  <section>
    <div
      class='max-w-screen-xl container flex flex-col-reverse md:flex-row mx-auto'
    >
      <div class='p-10 md:w-2/3'>
        <img class='rounded-md' src={gearImage} alt='' />
      </div>
      <div
        class='flex flex-col px-3 space-y-3 py-10 justify-center text-center mx-auto md:w-1/3 md:text-left'
      >
        <p class='text-yellow-500 font-semibold text-xl'>Welcom to</p>
        <h2 class='text-yellow-500 text-3xl font-bold'>Musically Equipped</h2>
        <p class='leading-8'>
          Finding the right musical gear at an affordable price can be a
          challenge. We're here to make that challenge a little easier with
          tips, reviews and how-to's
        </p>
      </div>
    </div>
  </section>
  <section id='featured-post'>
<<<<<<< HEAD
    <div class='container flex flex-wrap mx-auto my-10 space-x-5 space-y'>
=======
    <div
      class='mx-auto max-w-screen-xl grid grid-cols-1 grid-row-3 md:grid-cols-3 md:grid-row-1 gap-6 py-6 px-10'
    >
>>>>>>> ba595185e39ea854816b0d7ac59590ce55217aa4
      <Card
        image={guitarImage}
        title='Buying Your First Guitar'
        description='Buying your first guitar can be fun and tricky.'
      />
      <Card
        image={guitarImage}
        title='Buying Your First Guitar'
        description='Buying your first guitar can be fun and tricky.'
      />
      <Card
        image={guitarImage}
        title='Buying Your First Guitar'
        description='Buying your first guitar can be fun and tricky.'
      />
    </div>
  </section>
</Layout>
<<<<<<< HEAD
=======

>>>>>>> ba595185e39ea854816b0d7ac59590ce55217aa4
