---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Home | Musically-Equipped'>
  <div class='hero py-36 bg-slate-700'>
    <h1
      class='text-5xl text-center text-white drop-shadow-md font-bold bg-yellow-500 py-3'
    >
      Musically-Equipped
    </h1>
  </div>
</Layout>
<style>
  .hero {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
</style>
