<div class='fixed bottom-0 bg-slate-700 items-center' id='cookie'>
  <div class='contaier mx-auto flex flex-col'>
    <p class='text-white text-center py-3 px-10 w-3/4 mx-auto'>
      We use cookies and similar technologies that are necessary to operate the
      website. Additional cookies are used to perform analysis of website usage.
      By continuing to use our website, you are consenting to our use of
      cookies. For more information, please read our <a
        class='hover:text-yellow-500'
        href='#'
      >
        Privacy Policy.</a
      >
    </p>

    <button
      class='py-2 px-5 my-5 bg-yellow-500 text-white self-center rounded-md hover:bg-yellow-400'
      id='agree'>Sounds good!</button
    >
  </div>
</div>
<script is:inline>
  const cookieContainer = document.querySelector("#cookie");
  const agreeBtn = document.querySelector("#agree");

  agreeBtn.addEventListener("click", () => {
    document.cookie =
      "CookieBy=Musically-Equipped; max-age" + 60 * 60 * 24 * 30;
    if (document.cookie) {
      cookieContainer.classList.add("hidden");
    } else {
      alert("Cookie cannot be set!");
    }
  });
  let checkCookie = document.cookie.indexOf("CookieBy=Musically-Equipped");
  checkCookie != -1
    ? cookieContainer.classList.add("hidden")
    : cookieContainer.classList.remove("hidden");
</script>
