---
const { title } = Astro.props;
---

<div class='hero py-36 bg-slate-700'>
  <h1
    class='text-5xl text-center text-white drop-shadow-md font-bold bg-yellow-500 py-3'
  >
    {title}
  </h1>
</div>

<style>
  .hero {
    background-image: url('../images/header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
</style>
