---
import Layout from '../layouts/Layout.astro';
const { title, image, alt } = Astro.props;
---

<Layout title={title}>
  <div class='flex flex-col container w-98 py-10 px-10 md:px-40 mx-auto'>
    <img
      class='rounded-md md:w-max'
      src={image}
      alt={alt}
    />
    <h1
      class='text-yellow-500 text-center font-bold text-3xl md:text-5xl py-10'
    >
      {title}
    </h1>
  </div>
  <section
    class='flex flex-col container py-10 px-10 md:prose-xl mx-auto prose'
  >
    <slot />
  </section>
</Layout>
